body {
  background: linear-gradient(160deg,#90f 15%,#e9173d 30%,#f75e2c 60%,#e9173d 85%, #90f 100%);
}
h1 {font-size: 2.4rem;}
h2 {font-size: 2rem;}
h3 {font-size: 1.8rem;}
h4 {font-size: 1.6rem;}
h1, h2, h3, h5 {color: #fff;}
.bullList > li {
  position: relative;
  padding-left: 1rem;
  font-size: 1.2rem;
}
.bullList > li:after {
  content: '-';
  position: absolute;
  top: 0;
  left: 0;
}

#wrapper {
  position: relative;
  padding: 1.6rem;
  font-size: 1.4rem;
  word-break: keep-all;
}

header {
  color: #fff;
}
header > ul {
  margin-top: 1.6rem;
}
header > div {
  margin-top: 1.6rem;
}
header > dl dt {
  margin-top: 1.6rem;
}
header .bullList > li {
  font-size: 1.4rem;
}

#container {
  padding: 8rem 0;
}
#container .projectList > h2 {
  margin-bottom: 1.6rem;
}
#container .projectList h3 {
  position: relative;
  color: #fff;
  padding-bottom: 0.8rem;
}
#container .projectList h3:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% + 1.6rem);
  height: 1px;
  background-color: #d7d7d7;
}
#container .projectList > div + div {
  margin-top: 8rem;
}
#container .projectList > div > ul > li {
  margin-top: 1.6rem;
}
#container .projectList > div > ul > li {
  overflow: hidden;
  display: flex;
  justify-content: space-between;

  padding: 1.2rem;
  /* border: 1px solid #d7d7d7; */
  border-radius: 0.4rem;
  background-color: #fff;
  box-shadow: 2px 2px 0px #202020;

  color: #000;
}
#container .projectList > div > ul > li .visual {
  width: 10rem;
}
#container .projectList > div > ul > li .visual img {
  display:block;
  width: 100%;
  border: 1px solid #ccc;
}
#container .projectList > div > ul > li .text {
  position: relative;
  width: calc(100% - 11.2rem);
}
#container .projectList > div > ul > li .text > ul {
  margin-top: 0.8rem;
  padding-bottom: 4rem;
}
#container .projectList > div > ul > li .text > ul > li.comment {
  margin-bottom: 0.8rem;
  word-break: keep-all;
}
#container .projectList > div > ul > li .text > ul > li.period,
#container .projectList > div > ul > li .text > ul > li.skill {
  color: #999;
}
#container .projectList > div > ul > li .text > .linkArea {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.2rem;
  border-radius: 0.4rem;
  background-color: #edecec;
  border: 1px solid #d7d7d7;
}
#container .projectList > div > ul > li .text > .linkArea a {
  width: 50%;
  height: 100%;
  line-height: 3rem;
  text-align: center;
  color: #000;
}
#container .projectList > div > ul > li .text > .linkArea a + a {
  border-left: 1px solid #d7d7d7;
  background-color: #fff;
}
#container .projectList > div > ul > li.horizontal {
  flex-direction: column;
  padding: 0;
}
#container .projectList > div > ul > li.horizontal > div {
  width: 100%;
}
#container .projectList > div > ul > li.horizontal .visual img {
  width: 100%;
  margin: 0;
  border: 0 none;
  border-bottom: 1px solid #ccc;
}
#container .projectList > div > ul > li.horizontal .text {
  padding: 1.2rem;
}
#container .projectList > div > ul > li.horizontal .text > ul {
  padding-bottom: 1rem;
}
#container .projectList > div > ul > li.horizontal .text > .linkArea {
  position: static;
}

#container .careerDesc {
  margin-top: 8rem;
  color: #fff;
}
#container .careerDesc > ul > li {
  margin-top: 1.2rem;
  padding-top: 1.2rem;
  border-top: 1px solid #fff;
}
#container .careerDesc > ul > li + li {
  margin-top: 3.2rem;
}
#container .careerDesc > ul > li .title {
  display: flex;
  justify-content: space-between;
}
#container .careerDesc > ul > li .content {
  margin-top: 2.4rem;
}
#container .careerDesc > ul > li .content dt {
  margin-bottom: 0.4rem;
}
#container .careerDesc > ul > li .content dd {
  position: relative;
  padding-left: 1rem;
  font-size: 1.2rem;
}
#container .careerDesc > ul > li .content dd:after {
  content: '-';
  position: absolute;
  top: 0;
  left: 0;
}

body.pdfView {
  background: #fff;
}
body.pdfView h1,
body.pdfView h2,
body.pdfView h3,
body.pdfView h5,
body.pdfView #container .careerDesc,
body.pdfView #wrapper header {
  color: #000 !important;
}
body.pdfView #container .projectList > div > ul > li {
  border: 1px solid #000;
  box-shadow: none;
}
body.pdfView #container .careerDesc > ul > li {
  border-color: #000;
}
body.pdfView #container .projectList h3:after {
  background-color: #000;
}

@media all and (min-width:1024px) {
  h1 {font-size: 3.2rem;}
  h2 {font-size: 2.8rem;}
  h3 {font-size: 2.4rem;}
  h4 {font-size: 2rem;}

  #wrapper {
    width: 1024px;
    margin: 0 auto;
    background: none;
  }
  header {
    font-size: 2rem;
  }
  header .bullList > li {
    font-size: 1.6rem;
  }

  #container .projectList > div > ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }
  #container .projectList h3 {
    font-size: 2.4rem;
  }
  #container .projectList h3:after {
    width: 100%;
  }
  #container .projectList > div + div {
    margin-top: 6rem;
  }
  #container .projectList > div > ul {
    margin-top: 2.4rem;
  }
  #container .projectList > div > ul > li {
    margin-top: 0;
  }
  #container .projectList > div.kyobo > ul {
    grid-template-columns: repeat(3, 1fr);
  }
  #container .projectList > div.shinhan > ul > li:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  #container .careerDesc > ul {
    margin-top: 3.2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 4rem;
    font-size: 1.8rem;
  }
  #container .careerDesc > ul > li {
    padding: 3.2rem 0;
    margin-top: 0;
    border-top: 1px solid #fff;
  }
  #container .careerDesc > ul > li + li {
    margin-top: 0;
  }
  #container .careerDesc > ul > li .content dd {
    font-size: 1.6rem;
  }
}